@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.menu {
    background-color: #1e1e1e;
    padding: 2em;
}

.menu__content {
    display: flex;
    align-items: center;
    max-width: 1400px;
    
}

.menu__logo {
    max-width: 910px; 
    margin: 0 auto;
}

.navbar {
    font-family: comfortaa;
    max-width: 910px;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    
}

ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar a:hover{
    color: #4d4682;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.header {
    background-image: linear-gradient(90deg, #4d4682 40%, #5ec8b9 79%, rgba(198, 255, 0, 0.5) 100%);
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    padding: 5em 0;
}

.box__header {
    max-width: 650px;
    margin: 0;
    flex: 1;
}

.box__header--research {
    font-family: Comfortaa;
    font-size: 3em;
    font-weight: 450;
    color: #fff;
    line-height: 55px;
    max-width: 600px;
}

.box__header--process {
    font-family: inter;
    font-size: 2em;
    font-weight: 200;
    color: #fff;
    line-height: 40px;
    max-width: 580px;
    padding-top: 0.8em;
    
}

.box__image--ellipse {
    position: relative;
    max-width: 380px;
    margin: 0;
    flex: 1;
}

.image__ellipse {
    position: absolute;
    max-width: 360px;

}

.image__cuate {
    position: absolute;
    max-width: 320px;
    padding: 2em 1.5em;
}

.highlight {
    color: #c6ff00;
}

.btn {
    font-family: inter;
    font-size: 1rem;
    font-weight: 600;
    height: 3.5em;
    width: 20vw;
    border-radius: 8px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

.btn:hover {
    color: #1e1e1e;
    background-color: white;
}

.box {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 130px;
}

.box__image {
    max-width: 350px;
    margin: 0 auto;
    
}

.box__mission {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}

.box__mission--heading {    
    font-family: comfortaa;
    font-weight: 500;
    font-size: 3em;
}

.box__mission--vision {  
    font-family: inter;
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 350px;
    line-height: 30px;
    margin-top: 25px;
}

.box2 {
    display: flex;
    justify-content: center;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 130px;
}

.box__mission2 {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 8px;
}

.box__image--corporate {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 4em;
    
}

.box__mission--heading2 {    
    font-family: comfortaa;
    font-weight: 500;
    font-size: 3.5em;
    line-height: 1.5em;
}

.box__mission--vision2 {  
    font-family: inter;
    font-weight: 300;
    font-size: 1rem;
    max-width: 650px;
    line-height:25px;
    margin-top: 25px;
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {

    ul {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: normal;
        text-align: center;
    }

    .box__header {
        padding: 1em 5em;
    }

    .box__image--ellipse {
        padding-top: 3em;
    }

    .btn {
        background-color: lightblue;
    }

    .box {
    flex-direction: column;
    justify-content: center;
    margin-top: 290px;
    }

    .box2 {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    }
}